.nav_bar {
	position: sticky;
	left: 0%;
	width: 100%;
}

.nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1B263B;

	display: flex;
	flex-direction: row;
  align-items: stretch;
/*   justify-content: left; */
}

.nav_bar li {
	align-self: stretch;
	
	font-size: 1.5em;
	font-weight: bold;
}

.nav_bar a {
	color: #E0E1DD;
	padding: 4px 16px;

	display: inline-block;
	vertical-align: middle;
	
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.nav_bar a:hover {
	background-color: #778DA9;
}

.center {
	display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;
}


