/*
* https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* The overall container for a given page */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  color: #E0E1DD;
  background-color: #0D1B2A;
  /*
  justify-content: center;
  align-items: center;
  */
}

/* The page specific content. Excludes the navbar and footer.*/
main {
	/*
  padding: 5rem 0;
  */
  flex: 1;
  display: flex;
  flex-direction: column;
	/*
  align-items: center;
	*/
}