:root {
	--light: #F2E8CF;
	
	--bgDark:#0D1B2A;
	--bgDark1: #1B263B;

	--bgLight1: #415A77;
	--bgLight: #778DA9;

	--accent:#FF8600;
}

/*
* https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
*/

html,
body {
  padding: 0;
  margin: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* The overall container for a given page */
.container {
  display: inline-flex;
  flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow: auto;

  color: var(--light);
  background-color: var(--bgDark);
  /*
  justify-content: center;
  align-items: center;
  */
}

.textBody {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 65rem;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	line-height: 1.6em;
	font-size: 1.1em;
}

/* The page specific content. Excludes the navbar and footer.*/
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}